.entry-repetitions-picker
  text-align: center

  .repetitions-counter
    position: relative
    top: -6.4em
    margin: 0 $d

  .entry-repetitions-picker-item
    width: 3em
    display: inline-block
    margin: 0
    text-align: center

    input
      text-align: center
      padding: $d2 0 !important

    .button
      margin-top: $d
      margin-bottom: $d
