$header-height: 80px

html, body
  height: 100%
  width: 100%
  overflow-x: hidden

*
  font-weight: 300
  color: $text-gray

a:not(.button)
  color: $text-red !important

body
  padding: 3em

  &.birl-spa
    padding: 0

#birl-spa-container
  min-height: 100%

  #header
    background-color: $main-red
    color: white
    font-size: 32px
    height: $header-height
    line-height: $header-height
    padding: 0 $d4
    position: fixed
    width: 100%

  #menu
    position: absolute
    top: $header-height + $d2
    left: $d2

  #contents-wrapper
    padding-top: $header-height + $d2
    height: 100%

    #contents
      overflowy: scroll

  .default-container
    padding: $d $d2 $d2 $d2
