$menu-height: 80px

#birl-spa-container
  #menu
    background-color: #de1122
    height: $menu-height
    position: fixed
    width: 100%
    line-height: $menu-height
    padding: 0 $d4
    font-size: 32px
    color: white

  #contents
    padding-top: $menu-height + d2
