.meme-input-wrapper
  display: flex
  padding: 0 $d $d $d

  .circular.button
    margin: 0

  .input
    flex-grow: 1
    margin: 0 $d

    input
      border-radius: 999999px !important

.memes-stream
  .entity-list
    .entity-display
      font-size: .82em
      line-height: 1.3em
      vertical-align: middle

      .entity-display-main
        font-weight: normal !important
        letter-spacing: 0.1em
        margin: 0

        .ui.fitted.checkbox
          position: relative
          top: -2px

        .memes-display-todo-checkbox-wrapper
          float: left
          margin-right: 0.6em

    .entity-list-filter
      .input
        margin-right: $d2
