.meme-input-wrapper
  display: flex
  padding: 0 $d2 $d $d2

  .circular.button
    margin: 0

  .input
    flex-grow: 1
    margin: 0 $d

    input
      border-radius: 999999px !important

.memes-stream
  background-color: white
  position: relative
  user-select: none

  .entity-list
    .meme-list-item-wrapper
      &.selected
        background-color: $selection-blue
        border-radius: $d
        border: thin solid $selection-blue-border
        padding: $d $d2

      &.with-previous-selected
        border-top-left-radius: 0
        border-top-right-radius: 0

      &.with-next-selected
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        border-bottom: none

    .entity-display
      font-size: .82em
      line-height: 1.3em
      vertical-align: middle

      .entity-display-main
        font-weight: normal !important
        letter-spacing: 0.1em
        margin: 0

        .ui.fitted.checkbox
          position: relative
          top: -2px

        .memes-display-todo-checkbox-wrapper
          float: left
          margin-right: 0.6em

    .entity-list-filter
      .input
        margin-right: $d2

.performed-state
  .performed-state-label
    display: inline-block
    margin-right: $d2

  i
    color: $light-text-gray
