.timeline
  position: relative

  .timeline-item-wrapper
    border-radius: $d
    color: green
    left: 26px
    opacity: 0.5
    padding: $d $d+3px
    position: absolute
    width: 156px

    &:hover
      opacity: 1
      z-index: 1

  .timeline-rule
    background-color: blue
    height: 1px
    opacity: 0.3
    position: absolute
    width: 100%

  .timeline-step
    height: 10px
    display: flex

    .timeline-step-time
      color: $text-gray
      flex-basis: 26px
      font-size: 8px
      height: 10px
      line-height: 10px
      vertical-align: middle
      user-select: none

    .timeline-step-space
      flex-grow: 1

    &:nth-child(even)
      background-color: $almost-white-gray

    &:hover, &.selected
      background-color: $selection-blue

.ui.form
  .fields
    .field
      .tags-select.dropdown
        width: 400px
