.executor
  padding: $d4
  display: none

  &.executor-fullscreen
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2000

  .executor-components
    display: flex
    flex-direction: column
    justify-content: center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    .executor-form, .executor-clock, .executor-label, .executor-metronome
      margin: $d2 0

  .executor-metronome
    width: 100%
    text-align: center
    color: white

    /* .executor-metronome-animation
    /*   background-repeat: no-repeat
    /*   background-size: contain
    /*   /* height: 120px
    /*   /* width: 120px
    /*   margin: auto
    /*   position: relative

    /*   .executor-metronome-animation-label
    /*     bottom: $d
    /*     color: white
    /*     font-size: 14px
    /*     position: absolute
    /*     text-align: center
    /*     width: 100%
    /*     font-family: "Courier New", Courier, monospace
    /*     font-weight: bold

    /*   /* &.left
    /*   /*   background-image: url('/metronome/left.png')

    /*   /* &.right
    /*   /*   background-image: url('/metronome/right.png')

    .executor-metronome-actions
      margin: $d2 0

      .executor-metronome-action
        color: white
        display: inline-block
        font-size: 24px
        height: $d8
        line-height: $d8
        opacity: 0.8
        text-align: center
        vertical-align: center
        width: $d8

  .executor-form
    width: 100%

    .executor-detail
      text-align: center

    .sets-picker-set
      padding: 0

  .executor-label
    font-size: 30px
    text-align: center
    color: white
    width: 100%
    line-height: 30px

    .executor-display
      color: white

      *
        color: white

      .ascii_drawing
        font-size: 0.45em

    &.executor-label-doit
      font-size: 36px
      font-weight: bold

  .executor-label, .executor-form
    .executor-detail
      font-size: 24px
      color: white
      font-style: italic
      opacity: 0.8

  .executor-dev-tools
    position: absolute
    bottom: $d10
    left: 0
    width: 100%
    text-align: center

  .executor-actions
    bottom: $d4
    font-size: 18px
    left: 0
    position: absolute
    text-align: center
    width: 100%

    .executor-actions-right
      position: absolute
      right: $d4
      bottom: 0

      img
        width: 25px

    i
      margin: 0 $d2
      color: white
      opacity: 0.7

  .executor-clock
    width: 100%
    font-family: "Courier New", Courier, monospace

    .executor-clock-time
      color: white !important
      font-size: 70px
      line-height: 70px
      text-align: center

  &.executor-countdown
    background-color: green

  &.executor-doit
    background-color: orange

  &.executor-rest
    background-color: lightblue

  &.executor-finished
    background-color: green

  .executor-counter
    position: absolute
    top: $d4
    width: 100%
    padding: 0 $d4
    left: 0

    .executor-counter-main-title
      text-align: center
      color: white
      font-size: 20px
      margin-bottom: $d4

    .executor-counter-sets
      text-align: center
      margin-bottom: $d4

      label
        display: block
        color: white
        text-align: center

      .executor-counter-sets-set
        border-radius: 99999px
        height: $d6
        width: $d6
        line-height: $d6
        text-align: center
        vertical-align: middle
        margin: 0 $d
        display: inline-block
        color: white

        i, span
          color: white !important
          font-size: 18px

        &.current
          border: thin white solid

          i
            display: none

          span
            display: inline

        &.done
          i, span
            display: none

          .checkmark
            display: inline

        &.pending
          i, span
            display: none

          .clock
            display: inline


    .executor-counter-executions
      display: flex
      height: $d + 1px

      .executor-counter-executions-execution
        border-radius: 3px
        height: 100%
        margin: 0 1px
        background-color: rgba(white, 0.6)
        font-size: 0
        position: relative
        flex-grow: 1

        .progress-bar
          border-radius: 3px
          background-color: white
          height: 100%
          position: absolute
          top: 0
          left: 0

        &.pending
          .progress-bar
            width: 0

        &.done
          .progress-bar
            width: 100%

      .executor-counter-sets-set
        &.done, &.pending
          opacity: 0.7


  .executor-main-action
    background-color: rgba(white, 0.4)
    border-radius: $d
    font-size: 30px
    height: 36px
    line-height: 36px
    margin: auto
    text-align: center
    vertical-align: middle
    width: 33.3%

    i
      color: white
