.entity-index
  font-size: 1.6rem
  line-height: 1.6rem

.entity-list
  .entity-list-item-wrapper
    .entity-list-item
      padding: $d 0
      position: relative

      .entity-list-item-actions-wrapper
        position: absolute
        top: $d
        right: $d

        .entity-list-item-actions
          .item
            text-align: right

            .icon
              margin-left: $d

    .entity-list-item-divider
      border: none
      box-sizing: border-box
      display: block
      font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif
      font-size: 14px
      font-weight: 700
      height: 1px
      letter-spacing: 0.7px
      line-height: $d
      margin-bottom: $d
      margin-left: 0px
      margin-right: 0px
      margin-top: $d
      text-size-adjust: 100%
      text-transform: uppercase
      user-select: none
      width: 100%
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      background-image: linear-gradient(to right, $main-red-opc-2, $main-red-opc-2, $main-red-opc-1, $main-red-opc-1, $main-red-opc-1, transparent, transparent)
