$header-height: 54px
$header-buttom-dim: $header-height - $d2

html, body, #birl-spa-container
  height: 100%
  width: 100%
  overflow: hidden

/* *:not(i)
/*   font-weight: 300
/*   color: $text-gray

body
  padding: 3em

  &.birl-spa
    padding: 0

hr
  border: none
  border-top: thin $lightest-gray solid

#birl-spa-container
  height: 100%
