@use "sass:list"

$d: 5px
$d: 5px
$d1: $d
$d2: 2 * $d
$d3: 3 * $d
$d4: 4 * $d
$d5: 5 * $d
$d6: 6 * $d
$d7: 7 * $d
$d8: 8 * $d
$d9: 9 * $d
$d10: 10 * $d

$l: $d10
$ld2: $l + $d2

$header-height: 54px
$header-buttom-dim: $header-height - $d2

.flex-column
  flex-direction: column

  .flex-item
    overflow-y: hidden
    overflow-x: auto

    &.scroll-y
      overflow-y: scroll

.flex-row
  flex-direction: row

  .flex-item
    overflow-y: auto
    overflow-x: hidden

.flex-column, .flex-row
  display: flex
  scroll-y: auto
  flex: 1 1 0
  position: relative
  flex-grow: 1

  .flex-item
    flex: 1 1 0
    position: relative

.flex-column, .flex-row, .flex-item
  &.grow-0
    flex-grow: 0
    flex-basis: auto

  @for $i from 1 to 10
    &.grow-#{$i}
      flex-grow: $i

.flex-item-fixed
  flex: 1 1 0
  flex-grow: 0
  flex-basis: auto
  position: relative

.h-padded
  padding: 0 1px

@for $i from 1 to 3
  .padded-#{$i}
    padding: $d * $i

  .h-padded-#{$i}
    padding: 0 ($d * $i)

  .v-padded-#{$i}
    padding: ($d * $i) 0

  .b-padded-#{i}
    padding-bottom: $d * $i

  .paddeds-#{$i}
    & > *
      padding: $d * $i

  .h-paddeds-#{$i}
    & > *
      padding: 0 ($d * $i)

  .v-paddeds-#{$i}
    & > *
      padding: ($d * $i) 0

  .v-paddeds-#{$i}-list
    @extend .v-paddeds-#{$i}
    padding-bottom: 0

.header-contents-footer
  height: 100%
  display: flex
  flex-direction: column

  .header-contents-footer-header
    flex-grow: 0

  .header-contents-footer-contents
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    flex-grow: 1

  .header-contents-footer-footer
    flex-grow: 0
    padding-top: $d4

    &.bottom-attached-footer
      margin-bottom: -$d2
      margin-right: -$d2
      margin-left: -$d2

    &.slim-bottom-attached-footer
      margin-bottom: -$d
      margin-right: -$d
      margin-left: -$d

    &.action-footer
      padding-top: $d2
      text-align: center
